<% provide(:title, 'Help') %>
<h1>Help</h1>
<br>
<font size='5'><strong>What do you need help with?</strong></font>
<br>

<div class="container">

<!-------->
<div id="content">
    <ul id="pills" class="nav nav-pills" data-pills="pills" align="center">
        <li class="active"><a href="#initialSetup" data-toggle="pill">☞ Initial Setup</a></li>
        <li><a href="#addnew" data-toggle="pill">☞ Adding a New Hire</a></li>
        <li><a href="#todolist" data-toggle="pill">☞ To-do List & Emailing</a></li>
        <li><a href="#edit" data-toggle="pill">☞ Editting</a></li>
        <li><a href="#delete" data-toggle="pill">☞ Deleting</a></li>
        <li><a href="#search" data-toggle="pill">☞ Searching</a></li>
    </ul>
    <div id="my-pill-content" class="pill-content">
        <div class="pill-pane active" id="initialSetup">
            <h2> Initial Setup </h2>
            <p style="font-size:18px">
            -Go to the settings tab
            <br>
            <%= image_tag("00000026.jpg") %>
            <br> 
            <br>
            -Click on the "add contact" button
            <br>
            <%= image_tag("00000027.jpg") %>
            <br>
            <br>
            -Choose the responsibility that corresponds to the contact that you are adding.  The contact will recieve emails regarding the responsibility.
            <br>
            <%= image_tag("00000028.jpg") %>
            <br>
            <br>
            -Put in the name and email address of the contact 
            <br>
            <%= image_tag("00000030.jpg") %>
            <br>
            <br>
            -All of the resonsibilities will need to have an assigned contact before new hires can start being added
            <br>
            <%= image_tag("00000031.jpg") %>
            </p>
           
        </div>
        <div class="pill-pane" id="addnew">
            <h2> Adding a New Hire </h2>
            <p style="font-size:18px">
            -Click on "Add a new hire" button or "Add New" tab
            <br>
            <%= image_tag("00000032.jpg") %>
            <br>
            <br>
            -Fill in all required fields 
            <br>
            <%= image_tag("00000033.jpg") %>
            <br>
            <br>
            -Click "Add Hire" to complete adding hire
            <br>
            <%= image_tag("00000034.jpg") %>
            <br>
            <br>
            -The new hire is now added to the "All Hires" index
            <br>
            <%= image_tag("00000035.jpg") %>
            </p>
            
        </div>
        <div class="pill-pane" id="todolist">
            <h2> To-do List & Emailing </h2>
            <p style="font-size:18px">
            -Click on "Check new hire list" button or "All Hires" tab
            <br>
            <%= image_tag("00000036.jpg") %>
            <br>
            <br>
            -Click on the "to-do list" button on the row of the table that corresponds to the new hire of choice
            <br>
            <%= image_tag("00000037.jpg") %>
            <br>
            <br>
            -To send an email, click on the "Send Email" button on the row of the table that corresponds to the task that needs to be completed
            <br>
            <%= image_tag("00000038.jpg") %>
            <br>
            <br>
            -After the task is complete, click the "Done" button 
            <br>
            <%= image_tag("00000039.jpg") %>
            <br>
            <br>
            -If you wish to send another email that corresponds to an already completed task, click the "reset" button 
            <br>
            <%= image_tag("00000040.jpg") %>
            <br>
            <br>
            -When all tasks are complete, the "to-do list progress" will read "You have finished the new hire todo list!"
            <br>
            <%= image_tag("00000041.jpg") %>
            </p>
            
        </div>
        <div class="pill-pane" id="edit">
            <h2> Editting </h2>
            <p style="font-size:18px">
            -Click on "Check new hire list" button or "All Hires" tab
            <br>
            <%= image_tag("00000036.jpg") %>
            <br>
            <br>
            -Click on the "edit" button on the row that corresponds to the hire you would like to edit
            <br>
            <%= image_tag("00000042.jpg") %>
            <br>
            <br>
            -Change the information in the chosen fields
            <br>
            <%= image_tag("00000043.jpg") %>
            <br>
            <br>
            -Click the "Save" button to save the changes made
            <br>
            <%= image_tag("00000044.jpg") %>
            </p>
            
        </div>
        <div class="pill-pane" id="delete">
            <h2> Deleting </h2>
            <p style="font-size:18px">
            -Click on "Check new hire list" button or "All Hires" tab
            <br>
            <%= image_tag("00000036.jpg") %>
            <br>
            <br>
            -Click on the "delete" button on the row that corresponds to the hire you would like to delete
            <br>
            <%= image_tag("00000046.jpg") %>
            <br>
            <br>
            -Click "OK" to successfully erase the new hire from the database
            <br>
            <%= image_tag("00000047.jpg") %>
            </p>
            
        </div>
        <div class="pill-pane" id="search">
            <h2> Searching </h2>
            <p style="font-size:18px">
            -Click on "Check new hire list" button or "All Hires" tab
            <br>
            <%= image_tag("00000036.jpg") %>
            <br>
            <br>
            -Click on the search bar and type in the name of the employee that you are searching for
            <br>
            <%= image_tag("00000049.jpg") %>
            <br>
            <br>
            -Click the "Search" button to search for the hire
            <br>
            <%= image_tag("00000050.jpg") %>
            <br>
            <br>
            -To return to the full list of hires, click the "Clear" button
            <br>
            <%= image_tag("00000051.jpg") %>
            </p>
            
        </div>
    </div>
</div>
<a href="#top">☝Back to top of the page</a>
<br>
Consult HR for questions or missing information.  

