<tr>
	<td><font size="4">irc</font>
	<td>Jiayuan Chen</td>
	
	<td>
		<% if @new_hire.irc == 0 %>
			<span class="label">Not started</span>
		<% elsif @new_hire.irc == 2 || @new_hire.irc == 3 || @new_hire.irc == 4 %>
			<span class="label label-warning">In progress</span>
		<% else %>
			<span class="label label-success">Done</span>
		<% end %>
	</td>
	
	<td>
		<div class="btn-group">
			<% if @new_hire.irc == 0 %>
		    <%= link_to "action 1", "/irc/#{@new_hire.id}?irc=3", class: "btn btn-small" %>
			<% elsif @new_hire.irc == 2 %>
				<%= link_to "action 1", "/irc/#{@new_hire.id}?irc=4", class: "btn btn-small" %>
			<% elsif @new_hire.irc == 3 || @new_hire.irc == 4 %>
				<%= link_to "did action 1", "#", class: "btn disabled btn-small" %>
		  <% end %>
		
			<% if @new_hire.irc == 0 %>
		    <%= link_to "action 2", "/irc/#{@new_hire.id}?irc=2", class: "btn btn-small" %>
			<% elsif @new_hire.irc == 3 %>
				<%= link_to "action 2", "/irc/#{@new_hire.id}?irc=4", class: "btn btn-small" %>
			<% elsif @new_hire.irc == 2 || @new_hire.irc == 4 %>
					<%= link_to "did action 2", "#", class: "btn disabled btn-small" %>
		  <% end %>
		
			<% if @new_hire.irc != 1 %>
		    <%= link_to "Done!", "/irc/#{@new_hire.id}?irc=1", class: "btn btn-success btn-small" %>
		  <% else %>
				<%= link_to "No more actions", "#", class: "btn disabled btn-small" %>
			<% end %>
			
			<%= link_to "reset", "/irc/#{@new_hire.id}?irc=0", class: "btn btn-small" %>
		</div>
	</td>
	
</tr>
