<tr>
	<td><font size="4">
		
		<img src= "http://images3.wikia.nocookie.net/__cb20100115164024/castleage/images/0/08/Archer_Allies.gif"), class="img-rounded" %>
		<b><%= link_to new_hire.name, new_hire %></b></font></td>
	<td><%= new_hire.email %></td>
	<td><%= new_hire.department %></td>					
	<td>
	
	<%= link_to "Edit", edit_new_hire_path(new_hire), class: "btn btn-small" %>	
		<%= link_to "delete", new_hire, method: :delete,
		                                  data: { confirm: "You sure?" }, class: "btn btn-small btn-danger" %>
		
	</td>		
</tr>
