<aside class="span12">

<table class="table table-striped" border="1">
	<thead>
	    <tr class="success">
	      <th class="span5">todo</th>
				<th>person in charge</th>
				<th>status</th>
	      <th class="span4">available actions</th>			
	    </tr>
	</thead>

<%= render 'laptop' %>
<%= render 'badge' %>
<%= render 'vpn' %>
<%= render 'seat' %>
<%= render 'docs' %>
<%= render 'irc' %>
<%= render 'vm' %>

	<tr>
		<td>...</td>
		<td>...</td>
		<td>...</td>
		<td>...</td>
	</tr>
	
</table>

</aside>
